@model List<ResultDashboardLastPropertyDto>

@*Buradan devam edilicek düzenlenmeye*@
<div class="sidebar-widget popular-posts">
    <div class="sidebar-title">
        <h4>Emlakçıya Ait Diğer İlanlar</h4>
    </div>
    @foreach (var item in Model)
    {
        <article class="post">
            <figure class="post-thumb" style="align-content: center;">
                <img src="~/@item.Coverİmage" class="radius-image" alt="" style="height: 60%;">
            </figure>
            <div class="text">
                <a href="@Url.Action("PropertySingle","Property",new {slug = item.SlugUrl, id = item.PropertyID })">
                    @item.Title
                </a>
                <div class="post-info">@item.AdvertisementDate.ToString("dd-MMM-yyyy") - @item.Price</div>
            </div>
        </article>
    }

  @*   <article class="post">
        <figure class="post-thumb">
            <img src="~/starter/assets/images/l2.jpg" class="radius-image" alt="">
        </figure>
        <div class="text">
            <a href="#blog-single">
                Build your next landing page.
            </a>
            <div class="post-info">Sep 09, 2020 - 2 comments</div>
        </div>
    </article>

    <article class="post">
        <figure class="post-thumb">
            <img src="~/starter/assets/images/l3.jpg" class="radius-image" alt="">
        </figure>
        <div class="text">
            <a href="#blog-single">
                Simply the best. Better than the rest.
            </a>
            <div class="post-info">Sep 10, 2020 - 2 comments</div>
        </div>
    </article> *@

</div>