@model UpdatePropertyDtos

@{
    ViewData["Title"] = "UpdateProperty";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Yeni İlan güncelleme sayfası</h6>
                <form asp-action="UpdateProperty" method="post">
                    <input type="hidden" asp-for="PropertyID" class="form-control" />
                    <label>İlan Başlığı</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <br />
                    <label>İlan Seo Uyumlu Başlık</label>
                    <input type="text" asp-for="SlugUrl" class="form-control" />
                    <span>Bu alana başlık ta yazdığınız değeri ingilizce karakterler in desteklediği ve arasında boşluk olmayacak şekilde "-" boşluk yerine kullanılabilir bütün harfleri küçük olmalı!!!!!!</span>
                    <br />
                    <label>Şehir</label>
                    <input type="text" asp-for="City" class="form-control" />
                    <br />
                    <label>İlçe</label>
                    <input type="text" asp-for="District" class="form-control" />
                    <br />
                    <label>Kategori</label>
                    <select asp-for="PropertyCategory" asp-items="@(new SelectList(ViewData["PropertyCategory"] as List<SelectListItem>, "Value", "Text"))" class="form-control">
                        <option value="">Kategori Seçiniz</option>
                    </select>
                    <br />
                    <label>Fiyat</label>
                    <input type="text" asp-for="Price" class="form-control" />
                    <br />
                    <label>Tür</label>
                    <input type="text" asp-for="Type" class="form-control" />
                    <br />
                    <label>Kapak Fotoğrafı</label>
                    <input type="text" asp-for="Coverİmage" class="form-control" />
                    <br />
                    <label>İlan Açık Addresi</label>
                    <textarea type="text" asp-for="Address" class="form-control" rows="5"></textarea>
                    <br />
                    <label>İlan Açıklaması</label>
                    <textarea type="text" asp-for="Description" class="form-control" rows="5"></textarea>
                    <br />
                    <button class="btn btn-primary">İlan Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>